$bgc: #df001f;
$scolor: #ffffff;
$col: #333333;
$ff: 'Droid Sans', 'Arial', sans-serif;
$ffGv: 'Great Vibes', cursive;
$osv: 'Oswald', 'Arial', sans-serif;
$ffos: 'Oswald-HeavyItalic', 'Arial', sans-serif;